name: 'ci'

on: ['push', 'pull_request']

permissions: 'read-all'

defaults:
  run:
    shell: 'bash'
    working-directory: './'

jobs:
  test-mac:
    name: 'MacOS Test'
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest']

    runs-on: '${{ matrix.os }}'

    steps:
      - uses: 'actions/checkout@v2'

      - name: 'Install Prerequisites'
        run: |
          brew install coreutils bash zsh dash fish ksh tcsh bats-core

      - name: 'Run tests'
        run: |
          time make test
          # time make test-bats
          # time make test2
